<mat-card>
  <form (submit)="onEditPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel={{post.title}}
        required
        #title="ngModel"
        >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel={{post.content}}
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a Book title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="genre"
        ngModel = {{post.genre}}
        required
        #genre="ngModel"></textarea>
      <mat-error *ngIf="genre.invalid">Please enter the books genre.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Update Book shelf</button>
  </form>
</mat-card>
